@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;

.welcome {
  width: 90%;
  border-radius: 30px;
  background-color: $component-primary;

  @include tablet {
    margin: 0 auto;
  }

  @include desktop {
    max-width: 1000px;
  }

  &__title {
    text-align: center;
    color: $text-primary;
    font-size: $h1-mobile;

    @include desktop {
      font-size: $h1-tablet;
    }
  }
}

.main {
  @include flex-column-center;
  justify-content: center;

  @include desktop {
    width: 100%;
    flex-direction: unset;
    justify-content: space-evenly;
  }
}

.form {
  @include flex-column-center;
  margin-bottom: 2rem;

  @include desktop {
    align-items: unset;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $text-primary;

    @include desktop {
      font-size: $sub-title-mobile;
    }
  }

  &__input {
    @include input-pink;
    margin-bottom: 0.5rem;

    @include desktop {
      height: 1.5rem;
    }
  }

  &__button {
    @include primary-cta;
    width: 6rem;

    @include desktop {
      width: 10rem;
      font-size: 1.5rem;
      margin-top: 1rem;
    }
  }
}

.button_register {
  @include primary-cta;
  width: 12rem;
  height: 1.5rem;

  @include desktop {
    height: unset;
    font-size: 1.5rem;
  }

  &:hover {
    box-shadow: 0px -0.5px 1px 1px rgba(245, 198, 181, 0.63);

    @include desktop {
      box-shadow: 0px 0.5px 1px 1px rgba(245, 198, 181, 0.63);
    }
  }
}
