@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;

//border-radius: 5px for all boxes and buttons
.welcome {
  width: 90%;
  border-radius: 30px;
  background-color: $component-primary;

  &__title {
    text-align: center;
    color: $text-primary;
    font-size: $h1-mobile;
  }
}

.main {
  @include flex-column-center;
  justify-content: center;
}

.form {
  @include flex-column-center;
  margin-bottom: 2rem;

  &__title {
    width: 4.5rem;
    color: $text-secondary;
    background-color: $background-primary;
    border-radius: 5px;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__label {
    color: $text-primary;
  }

  &__input {
    @include input-pink;
    margin-bottom: 0.5rem;
  }

  &__button {
    @include primary-cta;
    width: 6rem;
  }
}

.button_register {
  @include primary-cta;
  width: 12rem;
  height: 1.5rem;

  &:hover {
    box-shadow: 0px -0.5px 1px 1px rgba(245, 198, 181, 0.63);
  }
}
