@use "../styles/variables" as *;

//primary yellow button
@mixin primary-cta {
  width: 5rem;
  height: 3rem;
  background-color: $button-background-primary;
}

//secondary button
@mixin secondary-cta {
    width: 5rem;
    height: 3rem;
    background-color: $button-background-secondary;//change to a more blue/purple colour 
  }

//breakpoints
@mixin tablet {
  @media screen and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}
