//site colors

//background colors
$background-primary: #f5c6b5;
$component-primary: #253822;

//text colors
$text-primary: #f5c6b5;
$text-secondary: #253822;
$text-hover: #e25439;

//button colors
$cta-background-hover: #e8e2db;

//sanskrit character colors

//font-sizes
//mobile
$h1-mobile: 3rem;
$sub-title-mobile: 2.5rem;
$p-mobile: 1rem;

//tablet & desktop
$h1-tablet: 5rem;
$sub-title-tablet: 3rem;
$p-tablet: 2rem;
$font-button-desktop: 1.5rem;

//breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
