//site colors
$background-primary: pink;
$text-primary: black;

$button-background-primary: yellow;
$button-background-secondary: blue;
$button-text-color: darkgrey;

$score-background: green;

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;
