@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.quiz {
  width: 90%;
  border-radius: 30px;
  background-color: $component-primary;
  @include flex-column-center;

  @include tablet {
    margin: 0 auto 1rem auto;
  }

  @include desktop {
    max-width: 1000px;
  }

  &__title {
    font-size: $sub-title-mobile;
    color: $text-primary;
    text-align: center;
    margin: 0;

    @include desktop {
      font-size: $sub-title-tablet;
    }
  }
}

.quizBody {
  @include flex-column-center;
  padding: 0.5rem 1rem;

  &__image {
    width: 6rem;
    border-radius: 5px;

    @include desktop {
      width: 8rem;
    }
  }

  &__paragraph {
    font-size: $p-mobile;
    color: $text-primary;
    margin: 0.5rem auto;
    text-align: center;
  }

  &__container {
    width: 100%;
    @include flex-row-center;
    justify-content: space-between;
  }

  &__container-hint {
    @include primary-cta;

    @include desktop {
      font-size: 1rem;
    }
  }

  &__input {
    @include input-pink;
    margin-bottom: 1rem;

    @include desktop {
      width: 15rem;
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: $background-primary;
    margin-bottom: 0.5rem;
    display: none;

    @include tablet {
      display: unset;
    }
  }
}

.sanskrit {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.15rem;

  &__characters {
    @include sanskrit-characters;
    width: 2rem;

    &--long {
      width: 3rem;
    }
  }

  &__button {
    @include primary-cta;
    margin: 0.5rem 0;

    @include desktop {
      font-size: 1rem;
    }
  }
}

.wrongAnswer {
  @include flex-column-center;
  justify-content: center;

  @include desktop {
    animation: bounceAnimation 2s ease-in-out;
  }

  &__title {
    font-size: $sub-title-mobile;
    color: $text-secondary;
    text-align: center;

    @include desktop {
      font-size: $sub-title-tablet;
    }
  }

  &__container {
    @include flex-row-center;
    justify-content: space-evenly;
    width: 100%;

    @include tablet {
      width: 20rem;
    }

    @include desktop {
      width: 30rem;
    }
  }

  &__button {
    @include secondary-cta-green;

    @include desktop {
      font-size: 1.5rem;
    }
  }
}
