@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;

.sound {
  width: 2rem;
  position: fixed;
  left: 1.5rem;
  top: 1rem;

  @include tablet {
    width: 2rem;
  }
  @include desktop {
    position: fixed;
    right: 6rem;
    top: 2rem;
    width: 4rem;
  }
}
