@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global" as *;

.sound {
  width: 1rem;

  @include tablet {
    width: 2rem;
  }
  @include desktop {
    width: 4rem;
  }
}
