@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.leaves {
  display: none;

  @include tablet {
    display: unset;
    position: fixed;
    left: 2rem;
    width: 100%;
    height: 7rem;
    animation: leafMovement 5s infinite alternate ease-in-out;

    @keyframes leafMovement {
      0% {
        transform: rotate(5deg);
      }
      100% {
        transform: rotate(-5deg);
      }
    }

    &__one {
      height: 20rem;
      width: 20rem;
      transform: rotate(-15deg);
    }

    &__two {
      height: 20rem;
      position: absolute;
      right: 0;
      transform: rotate(10deg) scaleX(-1);
    }
  }
}
