@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.register {
  @include desktop {
    @include flex-column-center;
    animation: bounceAnimation 2s ease-in-out;
  }

  &__title {
    color: $text-secondary;
    font-size: $sub-title-mobile;

    @include desktop {
      font-size: 5rem;
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }

  &__form {
    @include flex-column-center;

    @include desktop {
      align-items: flex-start;
    }
  }

  &__container {
    @include flex-column-center;
    align-items: flex-start;
    margin-bottom: 0.25rem;
  }

  &__label {
    color: $text-secondary;
    font-size: $p-mobile;

    @include desktop {
      font-size: $sub-title-mobile;
    }
  }

  &__input {
    @include input-green;

    @include desktop {
      height: 1.5rem;
    }
  }

  &__button {
    @include secondary-cta-green;

    @include desktop {
      font-size: 1.5rem;
    }
  }
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
