@use "../../styles/global" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.begin {
  @include flex-column-center;

  @include desktop {
    animation: bounceAnimation 2s ease-in-out;
  }

  &__title {
    font-size: $sub-title-mobile;
    color: $text-secondary;

    @include desktop {
      font-size: $h1-tablet;
    }
  }
  &__button {
    @include secondary-cta-green;
    padding: 0.5rem;

    @include desktop {
      font-size: $font-button-desktop;
    }
  }
}
